# Python 仮想環境
venv/

# Python キャッシュ
__pycache__/
*.pyc

# Hugging Face datasets/models キャッシュ
.cache/

# OS固有ファイル
.DS_Store

# Generated datasets
perturbed_data/

#evalu results
evaluation*.json

#perdiction logs
prediction_logs/